<div class="cldostup" data-roly="{rolyid}" , data-user="{user}" , data-adgrup="{ad_grup}" , data-usergrup="{user_grup}">
    <div class="name">
        <span class="userLink">[not-foto]<img src="/images/dostup/{icon}" />[/not-foto][foto]<span class="cover titavatar avadostup" style="background-image: url({foto});"></span>[/foto]{us}</span>
    </div>
    <div class="remove">
        [not-strel]
        <div class="k-icon k-i-close-outline"></div>[/not-strel]
    </div>
    <div class="action"><span class="action-clean [not-strel]strel[/not-strel]">{roly}</span></div>
</div>