#wrapper .container .spedbar {
    padding: 10px 20px;
    border-bottom: 1px #D9DDE1 solid;
    font-size: 20px;
    color: #B0B4B9;
}

#wrapper .container .spedbar a {
    font-size: 16px;
    margin: 0px 10px;
    color: #B0B4B9;
}

#wrapper .container {
    float: right;
    width: 970px;
    background: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#wrapper .container .padding {
    padding: 30px;
}

#wrapper .container .category-title {
    font-size: 20px;
    margin-bottom: 25px;
    color: #404E5C;
    padding-top: 30px;
}

#wrapper .container .category-title .com {
    background: url(../images/icon-comment.png) no-repeat left 3px;
    padding-left: 25px;
}

#wrapper .container .category-title .com a {
    color: #77BD7F;
}

#wrapper .container .category-title p {
    float: right;
}

#wrapper .container .category-title p a {
    font-size: 15px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 8px;
}

.circlenews {
    border-radius: 100px;
    width: 110px;
    height: 110px;
    background-color: #EAF3FF;
    transition: all 0.2s ease-in-out !important;
}

.circleimg {
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    -webkit-background-size: contain !important;
    background-size: contain !important;
    border: none;
    border-radius: 100px;
    width: 94px;
    height: 76px;
    margin: auto;
    position: relative;
    top: 18px;
    transition: all 0.2s ease-in-out !important;
}

.block-news ol {
    width: 110px;
    height: 110px;
    padding-top: 17px !important;
    transition: all 0.2s ease-in-out !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* float: left; */
    text-align: center;
    margin: 0 16px 1px 0;
    padding: 0;
    height: fit-content;
}

.block-news ol:hover .circlenews {
    /* border: 1px #77BD7F solid; */
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    /* transform: scale(1.05); */
}

.block-news ol:hover .circleimg {
    transform: scale(1.1);
}

.block-news ol:hover .shottitle {
    /* transform: scale(1.2); */
    /* font-weight: 600; */
    /* margin-top: 8px; */
}


/*.block-news ol:hover .shottitle {
    font-weight: bold;
    margin-top: 20px;
    position: absolute;
}

.block-news ol:hover img {
    transform: scale(1.1);
    /*max-width: 100%;*/


}
*/
/*.block-news OL:nth-child(3n+3)
{
	margin-right: 0px;
}*/
.block-news ol img {
    width: auto;
    max-width: 260px;
    height: 151px;
    transition: all 0.2s ease-in-out !important;
    /*margin: auto;*/
    
    margin-left: -50px;
    margin-top: 10px;
}
.block-news ol .title {
    margin: 10px 0;
}
.block-news ol .title a {
    font-size: 15px;
}
.block-news ol .date {
    color: #8C959D;
}