.dle-center .edit_btn {
    list-style: none;
    position: absolute;
    display: unset;
    margin-left: 41px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.block-news ol:hover .edit_btn {
    opacity: 1;
}

.dle-center .edit_btn>a>i,
.dle-center .edit_btn>a::before,
.dle-center .edit_btn>a::after {
    background-color: #d9d8d8;
}

.k-menu-link .k-image {
    max-height: 25px;
    max-width: 25px;
}

.dle-center a {
    text-align: center;
}

#id_edit_obloz ol {
    padding: 0 !important;
    margin: 0;
}

div#buttonContainer {
    margin-top: 15px;
    float: right;
}

.delobloz {
    position: absolute;
    margin-top: 15px;
}

.cldownload {
    position: absolute;
    right: 21px;
}

img.bzarhive {
    height: 19px;
    position: relative;
    margin-bottom: -3px;
    margin-right: 0px;
}

#buttonadduser {
    display: block;
    margin-bottom: 13px;
}

.dostupitems {
    border-top: 1px solid #d1d1d1;
    height: 318px;
    min-height: 318px;
    overflow: auto;
}

.cldostup img {
    max-height: 18px;
    margin: 0 5px -4px 0px;
}

.cldostup {
    display: list-item;
    padding: 10px 8px 7px;
    border-bottom: solid 1px #d1d1d1;
}

.cldostup:hover {
    background-color: #e7e7e7;
}

.cldostup .name {
    float: left;
    max-width: 346px;
    overflow: hidden;
}

.cldostup .remove {
    float: right;
    width: 16px;
    border: 1px solid transparent;
    margin-left: 4px;
}

.cldostup .action {
    float: right;
    text-align: right;
    width: 140px;
}

.userLink {
    padding: 0;
    display: flex;
    white-space: nowrap;
}

.action-clean {
    right: 27px;
    position: relative;
}

.remove .k-icon.k-i-close-outline:before {
    color: #a5a5a5;
}

.remove .k-icon.k-i-close-outline:hover:before {
    color: #d11717;
}

.remove .k-icon.k-i-close-outline {
    cursor: pointer;
    margin-top: -2px;
}

.strel::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #212121;
    content: "";
    height: 0;
    position: relative;
    top: 10px;
    width: 0;
    right: -12px;
    margin-top: -2px;
}

.strel {
    border-bottom: 1px dotted #333;
    cursor: pointer;
}

.avadostup {
    position: relative;
    width: 21px;
    height: 21px;
}

.clmacategory {
    padding-top: 14px;
    position: relative;
    top: 24px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.clmacategory button {
    margin-bottom: 10px;
    width: 181px;
}

.container {
    opacity: 0;
    transition: all ease 300ms;
}

body {
    /* overflow: hidden; */
}

#categorid {
    margin-top: -22px;
}

.menubz .logo_title {
    color: white;
    margin: 0;
}

.menubz .k-menu-expand-arrow-icon {
    color: white;
}

.menubz .k-menu-link {
    padding: 0;
}

.menuicons {
    width: 28px;
    height: 28px;
}

#samomenu,
#samomenu .k-menu-group {
    background-color: #3174e6;
    color: white;
}

#samomenu .k-menu-group .k-item>.k-link.k-hover,
#samomenu .k-menu-group .k-item>.k-link:hover,
#samomenu .k-menu.k-context-menu .k-item>.k-link.k-hover,
#samomenu .k-menu.k-context-menu .k-item>.k-link:hover {
    color: white;
    background-color: #0049c3;
}

#samomenu .k-link.k-hover,
#samomenu .k-link:hover,
#samomenu .k-item>.k-link.k-hover,
#samomenu .k-item>.k-link:hover {
    color: white;
    background-color: #0049c3;
}

.titlecat {
    cursor: default;
    margin-left: 7px;
    padding: 0 6px 0 6px;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 7%) 0px 18px 36px -18px inset;
    border-radius: 5px;
}

.catname {
    line-height: 17px;
}

.menueditcat {
    margin-left: 6px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: rgb(0 0 0 / 22%) 0px -50px 36px -28px inset;
    color: white;
    cursor: pointer;
}

.menueditcatpn {
    box-shadow: rgb(255 0 0 / 25%) 0px 30px 60px -12px inset, rgb(255 0 0) 0px 18px 36px -18px inset;
    transform: rotate(180deg);
}

#editcategor .k-menu-group-md .k-menu-link {
    padding-inline-end: 3px;
}

#editcategor {
    cursor: default;
}

#editcategor .k-menu-link {
    cursor: default;
}

#editcategor .k-menu-group .k-menu-link {
    cursor: pointer;
}

#editcategor,
#editcategor .k-menu-group {
    background-color: #3174e6;
    color: white;
}

#editcategor .k-menu-group .k-item>.k-link.k-hover,
#editcategor .k-menu-group .k-item>.k-link:hover,
#editcategor .k-menu.k-context-menu .k-item>.k-link.k-hover,
#editcategor .k-menu.k-context-menu .k-item>.k-link:hover {
    color: white;
    background-color: #0049c3;
}

#editcategor .k-link.k-hover,
#editcategor .k-link:hover,
#editcategor .k-item>.k-link.k-hover,
#editcategor .k-item>.k-link:hover {
    color: white;
    background-color: #3174e6;
}

#editcategor .k-menu-link {
    padding: 0;
}

.k-menu,
.k-menu-bar {
    line-height: inherit;
}

[data-dir=bottom] {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    background-color: rgb(211 221 234) !important;
    top: 22.7621px !important;
    left: -3px !important;
    height: 26px !important;
}