.dle-center .edit_btn {
    list-style: none;
    position: absolute;
    display: unset;
    margin-left: 55px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.block-news ol:hover .edit_btn {
    opacity: 1;
}

.dle-center .edit_btn>a>i,
.dle-center .edit_btn>a::before,
.dle-center .edit_btn>a::after {
    background-color: #d9d8d8;
}

.k-menu-link .k-image {
    max-height: 25px;
    max-width: 25px;
}

.dle-center a {
    text-align: center;
}

#id_edit_obloz ol {
    padding: 0 !important;
    margin: 0;
}

div#buttonContainer {
    margin-top: 15px;
    float: right;
}

.delobloz {
    position: absolute;
    margin-top: 15px;
}

.cldownload {
    position: absolute;
    right: 21px;
}

img.bzarhive {
    height: 19px;
    position: relative;
    margin-bottom: -3px;
    margin-right: 0px;
}

#buttonadduser {
    display: block;
    margin-bottom: 13px;
}

.dostupitems {
    border-top: 1px solid #d1d1d1;
    height: 318px;
    min-height: 318px;
    overflow: auto;
}

.k-menu-link .k-icon {
    margin-right: 3px;
}

.cldostup img {
    max-height: 18px;
    margin: 0 5px -4px 0px;
}

.cldostup {
    padding: 5px;
    border-bottom: solid 1px #d1d1d1;
}

.cldostup .name {
    float: left;
    max-width: 346px;
    overflow: hidden;
}

.cldostup .remove {
    float: right;
    width: 16px;
    margin-left: 4px;
}

.cldostup .action {
    float: right;
    text-align: right;
    width: 140px;
}